/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

// Global mobile-friendly styles
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    body {
        padding: 0 !important;
        margin: 0 !important;
    }
}