<div #mainContainer class="container">
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>
    <p-sidebar [style]="{width: '20%', height: '100%'}" [visible]="visible" (onHide)="visible = false;">
        <p-scrollPanel [style]="{width: '100%', height: '100%'}">
            <div class="sidebarContent">
                <h4>Journal Entries</h4>
                <ul class="journalEntries">
                    <li *ngFor="let entry of journalEntries$ | async" class="singleJournalEntry">
                        <div class="deleteJournalEntrySection">
                            <i class="mr-1 mt-1 pi pi-times  deleteJournalEntryIcon" (click)="deleteJournalEntry(entry)"
                                title="delete journal entry"></i>
                        </div>
                        <a (click)="setActiveEntry(entry)">{{entry.title}}</a>
                    </li>
                </ul>
            </div>

        </p-scrollPanel>
    </p-sidebar>
    <div class="main-content">
        <i class="mb-3 pi pi-align-justify text-2xl text-color-secondary" (click)="visible = !visible"></i>

        <div class="activeJournalList mb-1">
            <label for="">The Active Journal List is: </label> {{(activeJournalList$ | async)?.name}}

            <div class="mt-1">
                <label for="" class="mr-1">Change The Active Journal List</label>
                <p-dropdown [options]="journalLists" [ngModel]="(activeJournalList$ | async)" optionLabel="name"
                    (ngModelChange)="activeJournalList$.next($event)"></p-dropdown>
            </div>
        </div>
        <div *ngIf="activeJournalEntry; else noActiveJournalEntry">
            <div class="card flex justify-content-center mb-1">
                <p-button *ngIf="activeJournalEntry.id" class="mr-1" icon="pi pi-plus" label="New Entry"
                    styleClass="p-button p-button-rounded p-button-help p-button-outlined"
                    (onClick)="createNewActiveEntry()"></p-button>

                <p-button [label]="activeJournalEntry.id ? 'Update Entry' : 'Save Entry'"
                    (onClick)="saveActiveEntry()"></p-button>
            </div>

            <input class="entryTitle mb-1" type="text" pInputText placeholder="Journal Entry Title - Date" name="title"
                id="title" [(ngModel)]="activeJournalEntry.title" autofocus>

            <div class="mb-1">
                <label>Created Date</label>: <p-calendar
                    [(ngModel)]="activeJournalEntry.createdDateAsDate"></p-calendar>
            </div>

            <p-editor #editor required [(ngModel)]="activeJournalEntry.content" class="pEditor"
                [style]="{ height: '500px' }">

            </p-editor>

            <div class="mt-1">
                <p-button [label]="activeJournalEntry.id ? 'Update Entry' : 'Save Entry'"
                    (onClick)="saveActiveEntry()"></p-button>
            </div>

        </div>


        <ng-template #noActiveJournalEntry>
            <div class="mb-1">
                No Journal entry is selected. Please select a journal entry or create a new one
            </div>

            <p-button icon="pi pi-plus" label="New Entry" class="mt-1"
                styleClass="p-button p-button-rounded p-button-help p-button-outlined"
                (onClick)="createNewActiveEntry()"></p-button>

        </ng-template>
    </div>
</div>