::ng-deep {
    .p-sidebar .p-sidebar-header+.p-sidebar-content {
        padding: 0;
    }

    .p-sidebar-mask {
        display: none !important;
    }
}

.journalHeader {
    display: flex;
    flex-direction: row;

    >div {
        flex-grow: 1;
        flex-shrink: 0;

        h3 {
            margin-top: 0;
        }
    }
}

.text-2xl {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.entryTitle {
    width: 100%;
    margin-bottom: 0.5rem;
}

.sidebarContent {
    h4 {
        padding-left: 0.5rem;
    }

    ul.journalEntries {
        padding-left: 0;
    }

    li.singleJournalEntry {
        list-style-type: none;

        .deleteJournalEntrySection {
            display: flex;
            justify-content: end;

            .deleteJournalEntryIcon {
                color: firebrick;

            }
        }


        &:nth-child(odd) {
            background-color: cadetblue;
        }

        &:nth-child(even) {
            background-color: lightgrey;
        }

        a {
            padding: 1.5rem 0.5rem;
            display: block;

        }

    }
}



.mb-1 {
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}